h1 {
  text-align: center;
}

app-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 100%;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  transform: translate(-100%);
}

.close {
  animation-name: close-drawer;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: scroll;
}

.open {
  animation-name: open-drawer;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: scroll;
}

@keyframes open-drawer {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes close-drawer {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}

.fab {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  width: 7vw;
  height: 7vw;
  background-color: var(--primary-color);
  border-radius: 100%;
  border: 1px solid black;
  z-index: 3;
}
